body{
    margin: 0;
    padding: 0;
}
svg{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg .doodle{
    stroke: black;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 3200;
    stroke-dashoffset: 3200;
    animation: moveIt 6s ease-in-out infinite;
}

@keyframes moveIt{
    to{stroke-dashoffset: 0;}
}